<h1>Create a Rental Request</h1>

<form action= <%= cat_rental_requests_url %> method="post">

    <label for="cat_rental_request_cat_id">Cat</label>
    <select name="cat_rental_request[cat_id]" id="cat_rental_request_cat_id">
        <option disabled selected="true">-- Select a Cat --</option>
        <% Cat.all.each do |cat| %>
            <option value="<%= cat.id %>">
                <%= cat.name %>
            </option>
        <% end %>
    </select>

    <br>

    <label for="cat_rental_request_start_date">Start date</label>
    <input type="date" id="cat_rental_request_start_date" value=<%= Date.today %>>

    <br>

    <label for="cat_rental_request_end_date">End date</label>
    <input type="date" id="cat_rental_request_end_date" value=<%= Date.tomorrow %>>

    <br><br>

    <input type="submit" value="Create Rental Request">
</form>