
<% if cat.persisted? %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>

<form action="<%= action_url %>" method="post">
    <% if cat.persisted? %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

    <br>

    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">

    <br>

    <label for="color">Color</label>
    <select id="color" name="cat[color]">
        <option disabled <%= cat.color ? "" : "selected" %>>-- select a color --</option>
        <option value="White" <%= cat.color == "White" ? "selected" : "" %> >White</option>
        <option value="Black" <%= cat.color == "Black" ? "selected" : "" %> >Black</option>
        <option value="Ginger" <%= cat.color == "Ginger" ? "selected" : "" %> >Ginger</option>
        <option value="Blue/Grey" <%= cat.color == "Blue/Grey" ? "selected" : "" %> >Blue/Grey</option>
        <option value="Cream" <%= cat.color == "Cream" ? "selected" : "" %> >Cream</option>
        <option value="Brown" <%= cat.color == "Brown" ? "selected" : "" %> >Brown</option>
        <option value="Cinnamon" <%= cat.color == "Cinnamon" ? "selected" : "" %> >Cinnamon</option>
        <option value="Fawn" <%= cat.color == "Fawn" ? "selected" : "" %> >Fawn</option>
    </select>

    <br>

    <label for="sex">Sex</label>
    <select id="sex" name="cat[sex]">
        <option disabled <%= cat.sex ? "" : "selected" %>>-- select a sex --</option>
        <option value="M" <%= cat.sex == "M" ? "selected" : "" %> >M</option>
        <option value="F" <%= cat.sex == "F" ? "selected" : "" %> >F</option>
    </select>

    <br>

    <label for="description">Description</label>
    <textarea id="description" name="cat[description]"></textarea>
        <%= cat.description %>
    <br>

    <input type="submit" value="<%= (action == :edit) ? 'update cat' : 'add cat' %>">
</form>